<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Carimbos</title>
</head>
<body>
    <h1>Gerador de Carimbos</h1>
    <form action="/generate" method="post">
        
        <label for="responsavel">Responsável:</label><br>
        <input type="text" id="responsavel" name="responsavel"><br><br>
        
        <label for="registro_profissional">Registro Profissional:</label><br>
        <input type="text" id="registro_profissional" name="registro_profissional"><br><br>
        
        <label for="projeto">Projeto:</label><br>
        <input type="text" id="projeto" name="projeto"><br><br>
        
        <label for="proprietario">Proprietário:</label><br>
        <input type="text" id="proprietario" name="proprietario"><br><br>
        
        <label for="endereco">Endereço:</label><br>
        <input type="text" id="endereco" name="endereco"><br><br>
        
        <label for="criacao">Criação:</label><br>
        <input type="text" id="criacao" name="criacao"><br><br>
        
        <label for="projetista">Projetista:</label><br>
        <input type="text" id="projetista" name="projetista"><br><br>
        
        <label for="conteudo">Conteúdo:</label><br>
        <input type="text" id="conteudo" name="conteudo"><br><br>
        
        <label for="escala">Escala:</label><br>
        <input type="text" id="escala" name="escala"><br><br>
        
        <label for="data">Data:</label><br>
        <input type="text" id="data" name="data"><br><br>
        
        <label for="prancha_n_1">Prancha xx/:</label><br>
        <input type="text" id="prancha_n_1" name="prancha_n_1"><br><br>
        
        <label for="prancha_n_2">Prancha /xx:</label><br>
        <input type="text" id="prancha_n_2" name="prancha_n_2"><br><br>

        <button type="submit">Generate Image</button>
    </form>
</body>
</html>

